__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

.venv/
venv/
.env
.env.docker
.poetry/
!env_example

.vscode/
.idea/

build/
dist/
.eggs/
*.egg-info/

.pytest_cache/
.mypy_cache/
.cache/
.coverage
.coverage.*
nosetests.xml
*.cov
*coverage*.xml
*.cover
.hypothesis/

*.sqlite3
file::memory:
celerybeat-schedule

alembic/versions/*.pyc

docker-compose.override.yml

*.log
*.log.*
*.pid
*.gz

CACHED

