########################################
#  Python artefacts                    #
########################################
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

########################################
#  Virtual‑envs & Poetry               #
########################################
# локальные/IDE venv’ы
.venv/
venv/
.env          # dotenv с секретами
.env.docker   # отдельный dotenv для контейнера
.poetry/      # служебная папка Poetry
!env_example
#   ↓  ОСТАВЛЯЕМ, поэтому НЕ игнорируем!
#!poetry.lock

########################################
#  IDE                                  #
########################################
.vscode/
.idea/

########################################
#  Build / dist                        #
########################################
build/
dist/
.eggs/
*.egg-info/

########################################
#  Testing / linters                   #
########################################
.pytest_cache/
.mypy_cache/
.cache/
.coverage
.coverage.*
nosetests.xml
*.cov
*coverage*.xml
*.cover
.hypothesis/

########################################
#  Database / runtime artefacts        #
########################################
*.sqlite3
file::memory:       # временный SQLite‑файл
celerybeat-schedule # runtime‑файл Celery Beat

########################################
#  Alembic                             #
########################################
alembic/versions/*.pyc    # байткод миграций
# сами миграции (alembic.ini и alembic/**) НЕ игнорируем!

########################################
#  Docker                              #
########################################
docker-compose.override.yml

########################################
#  Logs & misc                         #
########################################
*.log
*.log.*
*.pid
*.gz
# случайные фиктивные файлы, которые у тебя появились
CACHED